<header>
  
  <nav><ul>
    <a href="/bkmrks"><li>View All bkmrks</li></a>
    <a href="/bkmrks/new"><li>Add New bkmrk</li></a>


  </ul></nav>
</header>
<hr>
<!-- <div class="page_border"> -->
<section class="bkmrk_page_content">
<%= yield %>
</section>
<!-- </div> -->